@font-face {
    font-family: 'OpenSans';
    src: local("OpenSans");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: local("OpenSans-Italic");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans';
    src: local("OpenSans-Bold");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: local("OpenSans-BoldItalic");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather';
    src: local("Merriweather Light");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: local("Merriweather-Italic");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather';
    src: local("Merriweather-Bold");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: local("Merriweather-BoldItalic");
    font-weight: bold;
    font-style: italic;
}

* {
    outline: 0px solid transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}

html {
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-family: OpenSans, 'Source Sans Pro', 'Lucida Grande', sans-serif;
    font-weight: normal;
    font-size: 1em;
    color: #2D2D2D;
}

html, body {
    height: 100%;
}

body {
    padding-top: 0px;
    padding-bottom: 10px;
    overflow-y: auto;
    min-height: 100vh;
    word-wrap: break-word;
}

hr {
    border: none;
    height: 1px;
    color: #E9EFF3;
    background-color: #eee;
    width: 100%;
}

p {
    line-height: 22px;
    margin-top: 5px;
    margin-bottom: 0px; /*24*/
}

img {
    display: block;
    width: auto;
    height: auto;
    margin: 0px 0 0px 0;
    min-width: 30px;
    min-height: 30px;
    max-width: 100%;
    max-height: 100%;
    opacity: 1;
}

video {
    width: auto;
    height: auto;
    margin: 0px 0px 0px 0px;
    min-width: 30px;
    min-height: 30px;
    max-width: 100%;
    opacity: 1;
    background: #2e4453
}

a {
    color: #0087be;
    text-decoration: none;
}

blockquote {
    background: #eee;
    border-left: 3px solid #2b6dad;
    padding: 5px 10px 5px 10px;
    margin: 5px 0 5px 0;
    border-radius: 2px;
    background-position: top left;
    background-repeat: no-repeat;
}

blockquote p:last-child {
    margin: 0;
}

#content {
    padding: 5px 15px 10px 15px;
    box-sizing: border-box;
    font-size: 16px;
    outline: 0px solid transparent;
}

div.field[placeholderText][contenteditable=true]:empty:before {
    content: attr(placeholderText);
    transition: 0.2s ease opacity;
}

div.field[placeholderText][contenteditable=true]:empty:focus:before {
    opacity: 0.6;
}


[contenteditable][placeholder]:empty:before {
    content: attr(placeholder);
    position: absolute;
    color: gray;
    background-color: transparent;
}

/* pre */
pre {
    text-align: start;
    border: 0;
    padding: 10px 20px;
}

pre {
    padding: 8px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 3px;
    display: block;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.mce-floatpanel {
    display: none !important;
}
